@font-face {
  font-family: 'BrokenFont';
  src: url('/src/assets/fonts/sans-forgetica-regular.otf') format('opentype');
  /* Adicione outros estilos desejados, como font-weight e font-style */
}
@font-face {
  font-family: 'Contacto';
  src: url('/src/assets/fonts/contacto.ttf') format('opentype');
  /* Adicione outros estilos desejados, como font-weight e font-style */
}
@font-face {
  font-family: 'DolceVita';
  src: url('/src/assets/fonts/dolce-vita-heavy-bold.ttf') format('opentype');
  /* Adicione outros estilos desejados, como font-weight e font-style */
}
@font-face {
  font-family: 'TimesBold';
  src: url('/src/assets/fonts/times-lt-bold.ttf') format('opentype');
  /* Adicione outros estilos desejados, como font-weight e font-style */
}
 

